.dashboard{
  min-height:100vh;
  padding:40px;
  background:#f1f5f9;
}

.dashboard h1{
  text-align:center;
  margin-bottom:40px;
}

.dashboard-cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.dash-card{
  background:white;
  padding:30px;
  border-radius:15px;
  text-align:center;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}